@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f3f4f5;
    --foreground: #142132;
}

/* @media (prefers-color-scheme: dark) { */
/*     :root { */
/*         --background: #f3f4f5; */
/*         --foreground: #142132; */
/*     } */
/* } */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer components {
    .heading5 {
        @apply text-3xl font-bold;
    }

    .paragraph4 {
        @apply text-lg font-normal;
    }

    .paragraph5 {
        @apply text-base font-normal;
    }

    .paragraph6 {
        @apply text-base font-medium;
    }

    .paragraph8 {
        @apply text-sm font-normal;
    }

    .paragraph9 {
        @apply text-sm font-medium;
    }
}
